.SearchPanel{
    background-color: white;
    height: 3em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SearchPanel_Input{
    margin: 0 1em;
    width: 400px;
}