.MovieItem {
  // border: 1px solid teal;
  background-color: white;
  width: 200px;
  height: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .image {
    border-radius: 100px;
    // width: 250px;
    // height: 400px;
    > img {
      width: 200px;
    }
  }
  > .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    > .MovieTitle {
      margin: -10px;
      overflow: hidden;
      word-wrap: break-word;
      height: 3em;
    }
    > span {
      // flex: 1;
      width: 100%;
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
    }
  }
}
